.image-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-list .card {
  margin: 10px;
  transition: transform 0.2s;
}

.image-list .card:hover {
  transform: scale(1.05);
}
